# Mac OS X files
.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# Jetbrains files
misc.xml
vcs.xml
modules.xml
analytics.iml
.idea

# builded bin files
/bin/